.cabecera{
    font-family: serif;
    background-color: rgb(163, 139, 107);
    
}
.cuerpo{
    background-color: tan;
}
.bloque1{
    background-color: blanchedalmond;
    padding: 15px;
    margin: 15px;
    
}
.bloque2{
    background-color: coral;
    padding: 5px;
    margin-top: 10px;
}